@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
  }

  /* Variables */
  :root {
    /* Font */
    --FONT: "Outfit", sans-serif;

    /* Colors */
    --DARK-NAVY: #1F314F;
    --DARK-BLUE: #3e52a3;
    --GREY: #7D889E;
    --LIGHT-GREY: #D5E1EF;
  }

  body {
    overflow: hidden;

    font-family: var(--FONT);
    text-align: center;

    background-color: var(--LIGHT-GREY);
  }
/* Wrap is still acting weird, need to reapproach this */
  .container {
    display: flex;
    flex-direction: column;
    columns: 1;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    height: 497px;
    width: 320px;
    margin:0 auto;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
  }

  .QR-code {
    width: 288px;
    height: 288px;
    margin-top: 16px;
    margin-bottom: 8px;

    border-radius: 10px;  
  }
/* ask about if highlight is acceptible for accessibility*/
  .QR-code-button {
    height: 160px;
    width: 160px;
    margin-top: 80px;

    position: fixed;
    z-index: 5px;
  }

  a.QR-code-button:hover, a.QR-code-button:focus {
    background-color: lightyellow;
    opacity: 40%;
  }

  h1 {
    height: auto;
    padding:  0 16px;

    font-size: 22px;
    font: bold;
    color: var(--DARK-NAVY);    
}   

  p {
    padding: 0 24px;

    font-size: 15px;
    letter-spacing: 0.19px;
    color: var(--GREY);
  }

  .attribution {
    align-self: center;
    justify-self: center;

    height: auto;
    width: 320px;
    padding-top: 8px;

    font-size: 11px;
    color: var(--DARK-BLUE);
  }

  .hidden {
    opacity: 0;
  }

