* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Font */
  --FONT: "Outfit", sans-serif;

  /* Colors */
  --DARK-NAVY: #1f314f;
  --DARK-BLUE: #3e52a3;
  --GREY: #6a7386; /* Old color #7d889e; */
  --LIGHT-GREY: #d5e1ef;

  /* Card */
  --CARD-HEIGHT: 497px;
  --CARD-WIDTH: 320px;
  --CARD-PADDING: 16px;

  /* Image */
  --IMAGE-SIZE: 288px;
}

html,
body,
section {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: var(--FONT);
  text-align: center;

  background-color: var(--LIGHT-GREY);
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: var(--CARD-HEIGHT);
  width: var(--CARD-WIDTH);
  margin: 0 auto;
  padding: var(--CARD-PADDING);

  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);

  a {
    width: var(--IMAGE-SIZE);
    height: var(--IMAGE-SIZE);

    margin-bottom: 24px;
  }

  img {
    width: 100%;
    height: 100%;

    border-radius: 10px;
  }

  a:hover, a:focus {
      filter: brightness(150%);
    }
}

.main-card-text {
  h1 {
    font-size: 22px;
    font: bold;
    color: var(--DARK-NAVY);

    margin-bottom: var(--CARD-PADDING);
  }

  p {
    font-size: 15px;
    letter-spacing: 0.19px;
    color: var(--GREY);
  }
}

.attribution {
  margin: 0 auto;
  align-self: center;
  justify-self: center;

  height: auto;
  width: 320px;
  padding-top: 8px;

  font-size: 11px;
  color: var(--DARK-BLUE);
}

.hidden {
  opacity: 0;
}
